PORT=3000
VERIFY_TOKEN="my_verify_token"
WHATSAPP_TOKEN="EAANm3s4ZA9bABRISB3Uhhj7yJJg2nPRjv4oSMhg3Ka67ZAOHhaujUorxq6fJHLyWIPZAHXnvmU7fhe8eGxLfpCWd64N7XZBiIuZBU5druuTmQAxRC1ZBY9BAaEv9NwLrLMrmYe6BTViMgQFjkZBHflq7qcmyMrxe3MDEOpCu2nhG4MegnkIzb9qZB4yaWnpe0dZAhws2AKN6hvNPZCrCYZBbnh8XsvQQqUNN9dw4AIWTizbMLGISSv9LvaZByeHcIEjRCVpG1luCQSVZBy9m7cWIpg16QHCkN"
WHATSAPP_PHONE_NUMBER_ID=1031858343344608
CATALOG_CURRENCY=INR
