PORT=3000
VERIFY_TOKEN=my_verify_token
WHATSAPP_TOKEN=EAANm3s4ZA9bABRNxqgoheFrttp8guecDnOqC6bh646XnDGdqFoJmlDhaa8RZCJ02ZBvrr3GCwcMRGJuWZCjGISC8r2PIIaLNO8QBMv8mSGxMZCRQ0cfo5MJyL1pR5eQYVHQzpBeYN0BtLrMimKkqAWeBBWhNUoROu9euRK0zmtXx251HWB0yTLSzNPsONFfWBqQZDZD
WHATSAPP_PHONE_NUMBER_ID=1031858343344608
CATALOG_CURRENCY=INR
DATABASE_URL=postgresql://postgres:Supabase%409759@db.rjesrwsvljmsmujomoip.supabase.co:5432/postgres
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
JWT_SECRET=28c94ada6bb506d1c13a497c438fbef6ffe3069f5f6dd84a1f4f50e8f2f05d717b5159ff2896f2faa881fa85c21c06222ef14b20d3153d23762b997746f3a301
DEFAULT_ADMIN_EMAIL=thomasgupta9759@gmail.com
DEFAULT_ADMIN_PASSWORD=Thomas@9759
APP_BASE_URL=https://whatsapp-ecommerce-bot-1p93.onrender.com
